html, body {
    margin: 0;
    padding: 0;

    background-color: var(--background-color);

    transition: background-color .2s ease-in-out;
}

.page-container {
    width: 100%;
    height: 130vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.bar-plot-container {
    width: 50vw;
    height: 30vh;

    background-color: none;
}

.week-container {
    width: 40vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;

    background-color: hsl(var(--foreground-color-hsl) / .1);

    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.day-container {
    width: 80%;
    height: 9%;
}

.day-separator {
    width: 70%;
    height: 3px;

    background-color: hsl(var(--foreground-color-hsl) / .1);
}

.date-container {
    width: 100%;
    height: 20%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.date {
    font-size: .8rem;

    color: hsl(var(--foreground-color-hsl) / .5);
}

.day-inputs-container {
    width: 100%;
    height: 80%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.time-register-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 5%; */
    height: 70%;
    aspect-ratio: 1 / 1;

    padding: 0;
    margin: 0;

    background: none;
}

.time-register-btn {
    cursor: pointer;
}

.svg-outer-obj {
    stroke: var(--foreground-color);

    transition: stroke .2 ease-in-out;
}

.svg-inner-obj {
    fill: var(--red);
}

.label-selector {
    width: 70%;
    height: 80%;

    padding-left: 1rem;

    border: none;

    cursor: pointer;

    background: none;

    /* border: 3px solid hsl(var(--foreground-color-hsl) / .1); */
    border: 3px solid var(--foreground-color);
    border-radius: 15px;

    color: var(--foreground-color);
    font-size: 1rem;
}
